.form_login {
    padding-top: 85px;
    padding-left: 245px;
    display: inline-block;
    font-size: 14px;

    .submitbtn{
        margin-top: 35px;
        width: 100%;
        padding: 13px 0;
        background-color: #FCD535;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .registerbtn{
        color: #C99400;
        cursor: pointer;
        margin-bottom: 15px;
        padding: 18px 0;
    }
}
